body {
   margin-top: 200px;
   margin-left: 150px;
   background: rgb(231,21,41);
  background: radial-gradient(circle, rgba(231,21,41,0.7917760854341737) 38%, rgba(133,6,6,1) 100%);
}

.navbar-brand {
    font-size: 40px;
    font-family: fantasy;
    font-weight: bold;
   
}
.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal-dialog.is-visible {
    position:fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    /*to show above other content*/
    z-index: 999;
    /*to allow scrolling*/
    overflow: auto;
    /*to center the modal*/
    display: grid;
    text-align: center;
  
    
}
.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    max-width: 700px;
    border: 5px solid;
    border-radius: 10px;
   font-family: fantasy;
 
}


.modal-close {
    float: right;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
}

.modal-title {
    text-align: center;
    border-bottom: 1px solid black;
    text-transform: uppercase;
    
}



.btn {
    width: 300px;
    height: 50px;
    border-width: 5px;
    margin: 2px;
    text-transform: uppercase;

}

.card-title {
   
    text-transform: uppercase;
    font-family: fantasy;

}
.card {
    display: flex;
    justify-content: space-between;
    border-width: 5px;
    border-color: black;
    
}

